.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: lightblue;
}

.producto {
  width: 200px;
  background-color: white;
  padding: 20px;
  margin: 10px;
}

.producto img {
  width: 100%;
}