.contactos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contacto {
  border: 1px solid black;
  width: 300px;
  background-color: lightblue;
  text-align: center;
  padding: 20px;
  margin: 10px;
}